<!DOCTYPE html>
<html lang="de">
<head>
  {{!-- Meta --}}
  {{> meta/main}}
  <title> SELG Admintool </title>
  {{!-- Stylsheets --}}
  {{> imports/stylesheet}}
</head>
<body id="page-top">
  {{!-- Navbar --}}
  {{> nav/bar/admin}}
  {{!-- Main wrapper --}}
  <div id="wrapper">
   {{!-- Sidebar --}}
    {{> nav/sidebar/admin}}
    {{!-- Content --}}
    <div id="content-wrapper">
      <div class="container-fluid">
        {{> breadcrumb/basic}}
        
        {{{ body }}}
        
        {{> sticky/footer}}
      </div>
    </div>
    {{!-- END OF MAIN WRAPPER --}}
    {{!-- Scroll-to-top Button --}}
    {{> sticky/scrolltotop}}
    {{!-- Logout Modal--}}
    {{> modals/logout}}
    {{!-- Javascript Imports --}}
    {{> imports/bootstrap}}
</body>
</html>