<!DOCTYPE html>
<html lang="de">
<head>
  {{!-- Meta --}}
  {{> meta/main}}
  <title> SELG Fachlehrertool </title>
  {{!-- Stylsheets --}}
  {{> imports/stylesheet}}
</head>
<body id="page-top">
  {{!-- Navbar --}}
  {{> nav/bar/fachlehrer}}

  {{!-- Main wrapper --}}
  <div id="wrapper">

    {{!-- Sidebar --}}
    {{> nav/sidebar/fachlehrer}}

    {{!-- Content --}}
    <div id="content-wrapper">
      <div class="container-fluid">
        {{> breadcrumb/basic}}
        
        {{{ body }}}
        {{> sticky/footer}}
                
        {{#if tutorial}}
          {{> tutorial/fachlehrer}}
        {{/if}}
      </div>
    </div>
    {{!-- END OF MAIN WRAPPER --}}
    {{!-- Scroll-to-top Button --}}
    {{> sticky/scrolltotop}}
    {{!-- Logout Modal--}}
    {{> modals/logout}}
    {{!-- Javascript Imports --}}
    {{> imports/bootstrap}}
</body>
</html>