<div class="container-fluid">
    <div class="container-fluid border">
        <br>
        <div class="container-fluid">
            <div class="card-header" style="background-color: #e9ecef;">
                Neuen Kurs erstellen {{!--Name, type, jahrgang, leistungsbene, lehrer--}}
            </div>
            <div class="card-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-1">
                            <label for="stufe">Stufe</label>
                            <select id="stufe" class="form-control">
                                <option value="8"> 8</option>
                                <option value="7"> 7 </option>
                                <option value="6"> 6 </option>
                                <option value="5"> 5 </option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="type">Fach</label>
                            <select id="type" class="form-control">
                                <option value="8"> Deutsch</option>
                                <option value="7"> Mathe </option>
                                <option value="6"> Englisch </option>
                                <option value="5"> Gesellschaftslehre </option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="leistungsebene">Leistungsebene</label>
                            <select id="leistungsebene" class="form-control">
                                <option value="8"> g</option>
                                <option value="7"> e1 </option>
                                <option value="6"> e2 </option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="username">Benutzername des Lehrers</label>
                            <input type="username" class="form-control" id="username" placeholder="Benutzername">
                        </div>
                    </div>
                    <br>
                    <button type="submit" value="Submit" class="btn btn-primary">Kurs erstellen</button>
                </form>
            </div>
        </div>

    </div>
</div>