<form action="/admin/delete_user" method="POST" autocomplete="off">
<div class="container-fluid">
    <div class="container-fluid border">
        <br>
        <div class="container-fluid">
            <div class="card-header" style="background-color: #e9ecef;">
                Benutzer löschen
            </div>
            <div class="card-body">
                    <div class="form-group">
                        <label for="username">Kürzel</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Kürzel">
                    </div>

                    <p>
                        Wenn ein Benutzer/Lehrer gelöscht wird, werden alle damit verbundenen Bewertungen erhalten bleiben.
                        
                    </p>

                    <br>
                    <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-fw fa-user-minus"></i>
                        <span>Benutzer löschen</span></a>
            </div>
        </div>

    </div>
</div>


<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sind Sie sich sicher?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Klicken Sie auf "Benutzer Löschen", wenn Sie sich sicher sind, den ausgewählten Benutzer zu löschen.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Abbrechen</button>
                <button type="submit" class="btn btn-danger">Benutzer Löschen</button>
            </div>
        </div>
    </div>
</div>
</form>