<div class="container-fluid">
        <div class="container-fluid border">
            <div id="content-wrapper">
                <div class="container-fluid">
                    <div class="card-header" style="background-color: #e9ecef;">
                        Create User
                    </div>
                    <div class="card-body">
                        <form action="/admin/create/user" method="post" autocomplete="off">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Benutzername</label>
                                <div class="form-label-group">
                                    <input type="username" id="username" name="username" class="form-control" placeholder="Benutzername" required="required"
                                        autofocus="autofocus">
                                    <label for="username">Benutzername</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Passwort</label>
                                <div class="form-label-group">
                                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="required">
                                    <label for="password">Passwort</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Art des Accounts</label>
                                <select class="form-control" id="exampleFormControlSelect1" name="permission_flag">
                                    <option>Fachlehrer</option>
                                    <option>Tutor</option>
                                    <option>Administrator</option>
                                </select>
                            </div>
                            <br>
                            <button type="submit" value="Submit" class="btn btn-primary btn-block">Erstellen</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>