<div class="container-fluid">
    <div class="container-fluid border">
            <br>
            <div class="container-fluid">
                <div class="card-header" style="background-color: #e9ecef;">
                    Einstellungen
                </div>
            </div>
            <div class="card-body">
                <p>
                    Einstellungen sind noch in bearbeitung...
                </p>
            </div>
    </div>
</div>