<div class="card">
  <h5 class="card-header">{{#if error.message }} Error {{else}} Error 404 {{/if}}</h5>
  <div class="card-body">
    <h5 class="card-title">Es ist ein Fehler aufgetreten.</h5>
    <p class="card-text">{{#if error.message }} {{error.message}} {{else}}Die Seite "{{url}}" gibt es leider nicht.{{/if}} </p>

    <a name="error" class="btn btn-danger" href="/">Zurück zur Übersicht</a>
    
  </div>
</div>