<div class="container-fluid">
    <div class="container-fluid border">
            <br>
            <div class="container-fluid">
                <div class="card-header" style="background-color: #e9ecef;">
                    Mein Profil
                </div>
            </div>
            <div class="card-body">
                <p>
                    Angemeldet als: <b>{{display_name}}</b> <br> Weiter Profil-Informationen folgen...
                </p>
            </div>
    </div>
</div>