<div class="container-fluid">
    <div class="container-fluid border">
        <br>
        <div class="container-fluid">
            <div class="card-header" style="background-color: #e9ecef;">
                <span class="h5">Mein Profil
                    <!-- @TODO{{display_name}} --></span>
            </div>



            <div class="card-body">
                <div class="content-heading">
                     <!-- <img style="width: 150px; height: auto;pull:left" src="images/profile.jpg" class="rounded-circle" /> -->

                    <h3>Max Mustermann
                        <!-- @TODO{{display_name}} -->
                    </h3>
                </div>

            </div>
        </div>