<div class="alert alert-success" role="alert">
    <h2 class="success-heading"><b><span><i class="pull-right fas fa-clock"></i> Ooops!</span></a></b></h2>
    <h3> Die Seite ist noch in bearbeitung!</h3>
</div>