{{!<link href="/css/star-rating.css" rel="stylesheet">--}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/js/bewertung.js"></script>



<!DOCTYPE html>

<head>
    {{!<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> --}}
    <style>
        html,
        body {
            top: 0px;
            left: 0px;
            width: 0px;
            height: 0px;
            margin: 0px;
            padding: 0px;
            color: black;
            font-family: 'Arimo', sans-serif;
            font-weight: 100;

            transform-origin: 0 0; 
            -webkit-transform-origin: 0 0; 
            transform: scale(0.84); 
            -webkit-transform: scale(0.84);
        }

        .main {
            top: 0px;
            margin: 0px;
            width: 690px;
            padding: 0px;
            margin-left: 1cm;
            margin-right: 1cm;
        }

        .rating-text {
            color: #666666;
            font-size: medium;
        }

        .txt-center {
            text-align: center;
        }

        .hide {
            display: none;
        }

        .clear {
            float: none;
            clear: both;
            width: 0px;
            height: 0px;
        }

        .rating {
            width: 90px;
            unicode-bidi: bidi-override;
            direction: rtl;
            position: relative;
        }

        .rating>label {

            display: inline;
            padding: 0;
            margin: 0;
            position: relative;
            width: 1.1em;
            cursor: pointer;
            color: #000;
        }

        .rating>label:hover,
        .rating>label:hover~label,
        .rating>input.radio-btn:checked~label {
            color: transparent;
        }

        .rating>label:hover:before,
        .rating>label:hover~label:before,
        .rating>input.radio-btn:checked~label:before,
        .rating>input.radio-btn:checked~label:before {
            content: "\2605";
            position: absolute;
            left: 0;
            color: #FFD700;
        }

        .rating-fix {
            display: inline;
            padding: 0px;
            margin: 0px;
            position: relative;
            width: 1.1em;
            color: #000;
        }

        .filled {
            font-size: medium;
            content: "\2605";
            color: #FFD700;
        }

        .img-header {
            margin: 0px;
            padding: 0px;
            height: 80px;
            width: 90px;
            position: fixed;
            top: 9px;
            right: 10px;
        }

        .sozialverhalten-tabelle {
            border: 0.1em solid black;
            border-color: rgba(0, 0, 0, 0.8);
        }

        table {
            width: 100%;
            border-collapse: collapse;
            font-weight: 100;
        }

        .table-title {
            text-align: left;
            font-size: 18px;
            /* top | right | bottom | left */
            padding: 28px 28px 28px 40px;
            width: 350px;
        }

        td,
        tr,
        th {
            border: 0.1em solid black;
            border-color: rgba(0, 0, 0, 0.35);
            padding: 2px 2px 2px 2px;
        }

        .star {
            vertical-align: bottom;
            width: 15px;
            height: 74px;
        }

        .no-border {
            border: 0px;
        }

        .zahl {
            padding: 0px 10px 0px 10px
        }

        .kreuz {
            text-align: center;
        }


        hr.style1 {
            border-top: 1px solid rgba(0, 0, 0, 0.5);
        }

        hr.style2 {
            border-top: 1px solid rgba(0, 0, 0, 0.9);
        }


        .footer {
            width: 100%;
            height: 50px;
            font-size: x-small;
            color: rgba(0, 0, 0, 0.75);
            float: left;
        }

        .footer-stars {
            float: left;
            bottom: 0px;
            left: 0px;
            width: 50px;
            text-align: right;
            color: #FFD700;
        }

        .footer-bewertung {
            float: left;
            padding-left: 20px;
            bottom: 0px;
            left: 50px;
            width: 70px;
            text-align: left;
        }

        .footer-erklaerung {
            float: left;
            bottom: 0px;
            left: 120px;
            width: 450px;
            text-align: left;
        }

        .clear {
            clear: both;
        }

        .eingerueck {
            text-indent: 35px;
        }

        p {
            font-weight: 100;
        }

        .Zielvereinabrungen {
            /*margin: 10px 10px 10px 10px;*/
            padding: 10px 10px 10px 10px;
            border: 3px solid rgba(0, 0, 0, 0.8);
            border-radius: 5px;
        }

        .u {
            padding: 0px;
            margin-bottom: 0px;
            margin-left: 15px;
            width: 100%;
            height: 50px;
            font-size: x-small;
            color: rgba(0, 0, 0, 1);
            float: left;
        }


        #u1 {
            float: left;
            width: 40%;
            border-top: 1px solid black;
        }

        #u2 {
            float: left;
            width: 40%;
            border-top: 1px solid black;
            margin-left: 100px;
        }

        #u3 {
            float: left;
            width: 40%;
            border-top: 1px solid black;
        }

        #u4 {
            float: left;
            width: 40%;
            border-top: 1px solid black;
            margin-left: 100px;
        }
    </style>
</head>

<body>
    <div class="main">

        <h2 style="text-align: center; padding: 0px; margin: 5px;"><b>Schüler-Eltern-Lehrer-Gespräch {{title}}</b></h2>
        <h3 class="text-center" style="text-align: center; padding: 0px; margin: 5px; margin-bottom: 10px;"><b>Protokoll
                vom {{date}}</b></h3>
        <p class="text-center" style="text-align: center; padding: 0px; margin: 5px;">Name der Schülerin / des Schülers:
            {{ schueler_name }}, Klasse: 9a{{!--@TODO--}}</p>
        <div class="img-header mt-0">
            <img style="height: 80px; width: auto;"
                src="https://ganztagsschule.bildung-rp.de/typo3temp/pics/880768783a.jpeg">
        </div>


        <div class="container-fluid">
            <div class="container-fluid mb-3">
                <div class="container-fluid">
                    <p style="line-height: 130%; font-size: 15px; margin-top: 30px;">
                        In einem verbindlichen Gespräch zwischen Schüler/in, Eltern und Tutoren
                        werden Lernentwicklung und Leistungsstand gewürdigt.
                        Eine gemeinsame Zielvereinbarung kann die Weiterentwicklung in der Schule
                        unterstützen.<br>
                        Diese Information über die Lernentwicklung der Schülerin/des Schülers ersetzt
                        gemäß ÜSchO §59 (3)
                        die Verbalbeurteilung zum Halbjahr.
                    </p>

                    <p style="font-size: 15px"><b>So sehen dich deine Tutoren und Fachlehrer/innen:</b></p>

                    <table class="sozialverhalten-tabelle">
                        <thead>
                            <tr>
                                <th class="table-title">Sozialverhalten</th>
                                <th class="star filled">★<br>★<br>★<br>★</th>
                                <th class="star filled">★<br>★<br>★</th>
                                <th class="star filled">★<br>★</th>
                                <th class="star filled">★</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="zahl">1.</span> Du bist anderen gegenüber höflich, rücksichts- und
                                    respektvoll.</td>
                                <td class="kreuz">{{#ifEqual soz_1 4}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual soz_1 3}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual soz_1 2}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual soz_1 1}}&#215;{{/ifEqual}}</td>
                            </tr>
                            <tr>
                                <td><span class="zahl">2.</span> Du bist hilfsbereit.</td>
                                <td class="kreuz">{{#ifEqual soz_2 4}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual soz_2 3}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual soz_2 2}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual soz_2 1}}&#215;{{/ifEqual}}</td>
                            </tr>
                            <tr>
                                <td><span class="zahl">3.</span> Du kannst Kritik annehmen und umsetzen.</td>
                                <td class="kreuz">{{#ifEqual soz_3 4}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual soz_3 3}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual soz_3 2}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual soz_3 1}}&#215;{{/ifEqual}}</td>
                            </tr>
                            <tr>
                                <td><span class="zahl">4.</span> Du zeigst dich gegenüber fremdem Eigentum achtsam.</td>
                                <td class="kreuz">{{#ifEqual soz_4 4}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual soz_4 3}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual soz_4 2}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual soz_4 1}}&#215;{{/ifEqual}}</td>
                            </tr>
                            <tr>
                                <td class="no-border"><span class="zahl">5.</span> Du hälst dich an die vereinbarten ...
                                </td>
                                <td class="no-border"></td>
                                <td class="no-border"></td>
                                <td class="no-border"></td>
                                <td class="no-border"></td>
                            </tr>
                            <tr>
                                <td class="eingerueck">Gesprächsregeln.</td>
                                <td class="kreuz">{{#ifEqual soz_5_1 4}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual soz_5_1 3}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual soz_5_1 2}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual soz_5_1 1}}&#215;{{/ifEqual}}</td>
                            </tr>
                            <tr>
                                <td class="eingerueck">Schulregeln.</td>
                                <td class="kreuz">{{#ifEqual soz_5_2 4}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual soz_5_2 3}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual soz_5_2 2}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual soz_5_2 1}}&#215;{{/ifEqual}}</td>
                            </tr>
                            <tr>
                                <td><span class="zahl">6.</span> Du trägst mit deinem Verhalten zur guten Gemeinschaft
                                    bei.</td>
                                <td class="kreuz">{{#ifEqual soz_6 4}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual soz_6 3}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual soz_6 2}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual soz_6 1}}&#215;{{/ifEqual}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <br>

                    <table class="sozialverhalten-tabelle">
                        <thead>
                            <tr>
                                <th class="table-title">Lern- und Arbeitsverhalten</th>
                                <th class="star filled">★<br>★<br>★<br>★</th>
                                <th class="star filled">★<br>★<br>★</th>
                                <th class="star filled">★<br>★</th>
                                <th class="star filled">★</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="zahl">1.</span> Du erscheinst pünktlich zum Unterricht.</td>
                                <td class="kreuz">{{#ifEqual lear_1 4}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_1 3}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_1 2}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_1 1}}&#215;{{/ifEqual}}</td>
                            </tr>
                            <tr>
                                <td><span class="zahl">2.</span> Du sorgst für vollstädige Arbeitsmaterialien.</td>
                                <td class="kreuz">{{#ifEqual lear_2 4}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_2 3}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_2 2}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_2 1}}&#215;{{/ifEqual}}</td>
                            </tr>
                            <tr>
                                <td><span class="zahl">3.</span> Du bsit zuverlässig und organisierst dich selbst.</td>
                                <td class="kreuz">{{#ifEqual lear_3 4}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_3 3}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_3 2}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_3 1}}&#215;{{/ifEqual}}</td>
                            <tr>
                                <td><span class="zahl">4.</span> Du arbeitest konzentriert und folgst dem Unterricht
                                    aufmerksam.</td>
                                <td class="kreuz">{{#ifEqual lear_4 4}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_4 3}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_4 2}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_4 1}}&#215;{{/ifEqual}}</td>
                            </tr>
                            <tr>
                                <td><span class="zahl">5.</span> Dein Arbeitstempo ist angemessen.</td>
                                <td class="kreuz">{{#ifEqual lear_5 4}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_5 3}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_5 2}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_5 1}}&#215;{{/ifEqual}}</td>
                            </tr>
                            <tr>
                                <td><span class="zahl">6.</span> Du bist lernbereit und lässt dich nicht schnell
                                    entmutigen.</td>
                                <td class="kreuz">{{#ifEqual lear_6 4}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_6 3}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_6 2}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_6 1}}&#215;{{/ifEqual}}</td>
                            </tr>
                            <tr>
                                <td><span class="zahl">7.</span> Du hälst die vereinbarten Regeln zur Heftführung bei.
                                </td>
                                <td class="kreuz">{{#ifEqual lear_7 4}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_7 3}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_7 2}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_7 1}}&#215;{{/ifEqual}}</td>
                            </tr>
                            <tr>
                                <td><span class="zahl">8.</span> Du beteiligst dich aktiv am Unterrichtsgeschehen.</td>
                                <td class="kreuz">{{#ifEqual lear_8 4}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_8 3}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_8 2}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_8 1}}&#215;{{/ifEqual}}</td>
                            </tr>

                            <tr>
                                <td class="no-border"><span class="zahl">9.</span> Du arbeitest eigenverantwortlich und
                                    selbstbestimmt in Phasen <span class="eingerueck">der...</span></td>
                                <td class="no-border"></td>
                                <td class="no-border"></td>
                                <td class="no-border"></td>
                                <td class="no-border"></td>
                            </tr>
                            <tr>
                                <td class="eingerueck"><b>Einzelarbeit</b></td>
                                <td class="kreuz">{{#ifEqual lear_9_1 4}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_9_1 3}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_9_1 2}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_9_1 1}}&#215;{{/ifEqual}}</td>
                            </tr>
                            <tr>
                                <td class="eingerueck"><b>Partnerarbeit</b></td>
                                <td class="kreuz">{{#ifEqual lear_9_2 4}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_9_2 3}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_9_2 2}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_9_2 1}}&#215;{{/ifEqual}}</td>
                            </tr>
                            <tr>
                                <td class="eingerueck"><b>Gruppenarbeit</b></td>
                                <td class="kreuz">{{#ifEqual lear_9_3 4}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_9_3 3}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_9_3 2}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_9_3 1}}&#215;{{/ifEqual}}</td>
                            </tr>
                            <tr>
                                <td><span class="zahl">10.</span> Du fertigst deine Hausaufgaben regelmäßig an.</td>
                                <td class="kreuz">{{#ifEqual lear_10 4}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_10 3}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_10 2}}&#215;{{/ifEqual}}</td>
                                <td class="kreuz">{{#ifEqual lear_10 1}}&#215;{{/ifEqual}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <br>
                    <hr class="style1" style="margin-top: 55px;">
                    <div class="footer">

                        <div class="footer-stars">
                            ★★★★<br>★★★<br>★★<br>★
                        </div>
                        <div class="footer-bewertung">
                            prima:<br>meist:<br>teilweise:<br>zu wenig:
                        </div>
                        <div class="footer-erklaerung">
                            Du machst es hervorragend.<br>Es gelingt dir häufig.<br>Es gelingt dir manchmal. Du brauchst
                            noch Erinnerung.<br>Du musst noch viel üben und brauchst noch sehr oft Hilfe.
                        </div>
                        <div class="clear"></div>
                    </div>
                    <br>

                    {{! Zweite Seite}}
                    <br><br><br>
                    <p style="margin-top: 15px;">
                        Das kannnt du besonders gut:
                    </p>
                    <br>
                    <hr class="style2"><br>
                    <hr class="style2"><br>
                    <hr class="style2"><br>

                    <p>
                        Anmerkungen:
                    </p><br>
                    <hr class="style2"><br>
                    <hr class="style2"><br>
                    <hr class="style2"><br>

                    <div class="Zielvereinabrungen">
                        <h2 style="text-align: center;"> Zielvereinbarungen</h2>
                        <p> Daran wollen wir gemeinsam arbeiten:</p><br>
                        <hr class="style2"><br>
                        <hr class="style2"><br>
                        <hr class="style2"><br>
                        <hr class="style2"><br>
                        <hr class="style2"><br>
                        <hr class="style2"><br>
                        <hr class="style2"><br>
                        <hr class="style2"><br>
                    </div>
                    <br><br><br><br><br>
                    <div class="u">
                        <span id="u1">Unterschrift der Schülerin / des Schülers</span>
                        <span id="u2">Unterschrift der Lehrerin / des Lehrers</span>
                    </div>
                    <br>
                    <br>
                    <div class="u" style="margin-top: 25px;">
                        <span id="u3">Unterschrift der Mutter / Sorgeberechtigten</span>
                        <span id="u4">Unterschrift des Vaters / Sorgeberechtigten</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>