<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Feedback senden</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
          Sie haben spezielle Fragen, Anmerkungen oder möchten eine Rückmeldung zum SELG-Tool loswerden? 
          Dann schicken Sie mir doch eine E-Mail an <a href="mailto:noel@schwabenland.ch?subject=SELG-Tool Feedback">Noel@Schwabenland.ch</a>.
</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Abbrechen</button>
        <a class="btn btn-primary" href="/logout">Abmelden</a>
      </div>
    </div>
  </div>
</div>