<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin - Passwort Wiederherstellen</title>

  <!-- Bootstrap core CSS-->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template-->
  <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="../css/sb-admin.css" rel="stylesheet">

</head>

<body class="bg-dark">
  <br><br><br><br> <br><br><br><br>
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Passwort Wiederherstellen</div>
      <div class="card-body">
        <p style="text-align: center">Ihr Passwort wurde zur체ckgesetzt.</br> Ein tempor채res Passwort wurde an die E-Mail <b>{{email}}</b> gesendet. Bitte benutzen Sie dieses, um sich vor체bergehend anzumelden.</p>
        <a class="btn btn-primary btn-block mt-2" href="/login">Zur체ck</a>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="../js/test.js"></script>

</body>

</html>