<form action="/tutorial/cancel" method="post" autocomplete="off">

    <div class="form-group">
        <p>
            Hallo <b>{{genDisplayName fullname}}</b>, seit Ihrem letzten Besuch gibt es eine neue Version.
            <br><b>Neuigkeiten zum ausprobieren:</b>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Ankündigungen</b><br>Admins können nun Ankündigungen schreiben, die für alle einen Monat sichtbar sind. Klickt man oben rechts auf die Glocke, so sieht man diese.</li>
                <li class="list-group-item"><b>PDF-Export</b><br>Es ist nun möglich Bewertungen, die man geschrieben hat, anzusehen und auch als PDF zu exportieren.</li>
                <li class="list-group-item"><b>Schülerinformation</b><br>Sucht man einen Schüler, so kann man genauere Informationen über diesen erhalten.</li>
                <li class="list-group-item"><b>Bewertungen</b><br>Als Tutor können Sie nun die durchschnittlichen Bewertungen für einen Schüler Ihrer Klasse ansehen und als PDF exportieren.</li>
            
            </ul>
        </p>
    </div>

    <button value="cancel" class="btn btn-primary text-light">Okay</button>

</form>