<html>

<head>
    <meta name="viewport" content="width=210mm, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background: rgb(204, 204, 204);
        }

        page {
            background: white;
            display: block;
            margin: 0 auto;
            margin-bottom: 0.5cm;
            box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
        }

        page[size="A4"] {
            width: 22cm;
            height: 29.7cm;
        }

        page[size="A4"][layout="landscape"] {
            width: 29.7cm;
            height: 21cm;
        }

        @media print {

            body,
            page {
                margin: 0;
                box-shadow: 0;
            }
        }
    </style>

<body>
    <page size="A4">
        <h3 class="text-center mt-1">Schüler-Eltern-Lehrer-Gespräch</h3>
        <div class="mx-2">
            <div class="pt-2">
                <p>
                    In einem verbindlichen Gespräch zwischen Schüler/in, Eltern und Tutoren werden
                    Lernentwicklungen und Leistungsstand gewürdigt.
                    Eine gemeinsame Zielvereinbarung kann die Weiterentwicklung in der Schule
                    unterstützen. Diese
                    Information über die Lernentwicklung der Schülerin/des Schülers ersetzt gemäß ÜSchO
                    §59 (3)
                    die Verbalbeurteilung zum Halbjahr.
                </p>
            </div>
        </div>
    </page>
</body>


</html>