<div class="alert alert-danger" role="alert">
  <h2 class="alert-heading"><i class="fas fa-exclamation-triangle"></i> <b>{{error}}</b></h2>
  <h4>
    {{#if error.message }}
      {{error.message}}
    {{else}}
    <br>
      <h2>Ooops!</h2> <br>
      <h3>Sorry this page is not here.</h3>
    {{/if}}
  </h4>


</div>
<div class="" role="alert">
  <button type="button" class="btn btn-danger" onclick="console.log('@TODO')">Report this error</button>
</div>