<ul class="sidebar navbar-nav">

    {{!-- Übersicht --}}
    <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-home"></i>
            <span>Übersicht</span>
      </a>
    </li>

    {{!-- Benutzer --}}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fas fa-fw fa-chalkboard-teacher"></i>
            <span>Benutzer</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="/admin/create_user"><span><i class="pull-right fas fa-plus-circle"></i> Erstellen</span></a>
            <a class="dropdown-item" href="/admin/edit_user"><span><i class="pull-right fas fa-pencil-alt"></i> Bearbeiten</span></a>
            <a class="dropdown-item" href="/admin/delete_user"><span><i class="pull-right fas fa-minus-circle"></i> Löschen</span></a>
        </div>
    </li>

    {{!-- Schüler --}}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fas fa-fw fa-user-graduate"></i>
            <span>Schüler</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="/admin/create_schueler"><span><i class="pull-right fas fa-plus-circle"></i> Erstellen</span></a>
            <a class="dropdown-item" href="/admin/edit_schueler"><span><i class="pull-right fas fa-pencil-alt"></i> Bearbeiten</span></a>
            <a class="dropdown-item" href="/admin/delete_schueler"><span><i class="pull-right fas fa-minus-circle"></i> Löschen</span></a>
        </div>
    </li>

    {{!-- Kurse --}}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fas fa-fw fa-users"></i>
            <span>Kurse</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="/admin/create_kurs"><span><i class="pull-right fas fa-plus-circle"></i> Erstellen</span></a>
            <a class="dropdown-item" href="/"><span><i class="pull-right fas fa-pencil-alt"></i> Bearbeiten</span></a>
            <a class="dropdown-item" href="/"><span><i class="pull-right fas fa-minus-circle"></i> Löschen</span></a>
        </div>
    </li>

    {{!-- Jahrgang --}}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fas fa-fw fa-users"></i>
            <span>Jahrgang</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="/admin/create_all_schueler"><span><i class="pull-right fas fa-plus-circle"></i> Erstellen</span></a>
            <a class="dropdown-item" href="/admin/edit_all_schueler"><span><i class="pull-right fas fa-pencil-alt"></i> Bearbeiten</span></a>
        </div>
    </li>

    {{!-- Reports --}}
    <li class="nav-item">
        <a class="nav-link" href="/admin/reports" data-target="#">
            <i class="fas fa-flag"></i>
            <span>Reports</span></a>
    </li>


    {{!-- Alle --}}
    <li class="nav-item">
        <a class="nav-link" href="/profil" data-target="#">
            <i class="fas fa-fw fa-user-circle"></i>
            <span>Mein Profil</span></a>
    </li>
    {{!-- Alle --}}
    <li class="nav-item">
        <a class="nav-link" href="/einstellungen" data-target="#">
            <i class="fas fa-fw fa-cog  "></i>
            <span>Einstellungen</span></a>
    </li>
    {{!-- Admin --}}
    <li class="nav-item">
        <a class="nav-link" href="/admin/announcement" data-target="#">
            <i class="fas fa-bullhorn"></i>
            <span>Ankündigung</span></a>
    </li>
    {{!-- Alle --}}
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal">
            {{!-- LOGOUT --}}
            <i class="fas fa-fw fa-sign-out-alt"></i>
            <span>Abmelden</span></a>
    </li>
</ul>