<!-- Sidebar -->
<ul class="sidebar navbar-nav">

    <!-- Alle -->
    <li class="nav-item active">
        <a class="nav-link" href="/">
            <!-- @TODO Href: per Permissionflag -->
            <i class="fas fa-fw fa-home"></i>
            <span>Übersicht</span>
        </a>
    </li>

    <!-- @TODO Fachlehrer & Tutoren-->
    <li class="nav-item">
        <a class="nav-link" href="/meine_klasse">
            <i class="fas fa-fw fa-user"></i>
            <span>Meine Klasse</span></a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fas fa-fw fa-users"></i>
            <span>Meine Kurse</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            {{genMeineKurse meineKurse}}
        </div>
    </li>
    <!-- @TODO Fachlehrer -->
    <li class="nav-item">
        <a class="nav-link" href="/bewertung/neu">
            <i class="fas fa-fw fa-file-alt"></i>
            <span>Neue Bewertung</span></a>
    </li>

    <!-- Alle -->
    <li class="nav-item">
        <a class="nav-link" href="/profil" data-target="#">
            <i class="fas fa-fw fa-user-circle"></i>
            <span>Mein Profil</span></a>
    </li>
    <!-- Alle -->
    <li class="nav-item">
        <a class="nav-link" href="/einstellungen" data-target="#">
            <i class="fas fa-fw fa-cog  "></i>
            <span>Einstellungen</span></a>
    </li>
    <!-- Alle -->
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal">
            <!-- LOGOUT -->
            <i class="fas fa-fw fa-sign-out-alt"></i>
            <span>Abmelden</span></a>
    </li>
</ul>